.button--goldyellow 
    display block
    background-color #ffc107
    color rgb(255, 114, 66)
    text-align center
    margin 0 30px
    width 200px
    height 54px
    min-width 54px
    min-height 54px
    border-radius 0px
    line-height 3.3rem
    color #eff
    padding 0
    font-size 100%
    position relative
    z-index 1
    color #eff
    transition color 1s
    &:before 
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        z-index -1
        background #ff7242
        content ''
        transition transform 0.5s ease-out
        transform scaleX(0)
        transform-origin 0 50%
    &:hover 
        &:before 
            transition-timing-function cubic-bezier(0.45, 1.64, 0.47, 0.66)
            transform scaleX(1)
